<main>
  <h1>Accessible Form Demo</h1>

  <form action>
    <label>
      Your name
      <input type="text">
    </label>
    <!-- Adding a Fieldset -->
    <fieldset>
      <legend>Favorite Manga </legend>
      <div>
        <label>
          <input type="radio" name="manga"> Dragon Ball Super
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="manga"> One Piece
        </label>

      </div>
      <div>
        <label>
          <input type="radio" name="manga"> Umineko no Naku koro Ni
        </label>
      </div>
    </fieldset>
    <div class="label-wrap">
      <label for="Origin">Place of Origin</label>
    </div>

    <div>
      <input type="text" id="Origin">


    </div>
  </form>
</main>